.status-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #555;
    position: fixed;
    background-color: #fcfcfc;
    top: 0;
    left: 0;
    padding: 10px 20px;
    opacity: 0.95;
    z-index: 3;
}

.status-bar i {
    font-size: 14px;
}